<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Neue
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <f:link.action action="addForm" controller="Cash" class="dropdown-item">Cash</f:link.action>
                        <f:link.action action="addForm" controller="Account" class="dropdown-item">Account</f:link.action>
                        <f:link.action action="addForm" controller="Category" class="dropdown-item">Category</f:link.action>
                    </div>
                </li>
                <li class="nav-item">
                    <f:link.action action="list" controller="Cash" class="nav-link">Cash</f:link.action>
                </li>
                <li class="nav-item">
                    <f:link.action action="list" controller="Account" class="nav-link">Account</f:link.action>
                </li>
                <li class="nav-item">
                    <f:link.action action="list" controller="Category" class="nav-link">Category</f:link.action>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="tx-cashcourse">
        <f:render section="Main" />
    </div>
</div>